@import 'bootstrap.css';
@import 'carousel.css';
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
html {
	font-size: 16px !important;
	font-weight:300;
}
body {
	font-size: 1rem;
}
.placeholder {
  color: #E66D01!important;
}
.trebuchet {
	font-family: 'Trebuchet MS', sans-serif ;
}
.zoom{
  transition: 1.5s ease;
  -moz-transition: 1.5s ease; /* Firefox */
  -webkit-transition: 1.5s ease; /* Chrome - Safari */
  -o-transition: 1.5s ease; /* Opera */
}
.zoom:hover{
  transform : scale(1.1);
  -moz-transform : scale(1.1); /* Firefox */
  -webkit-transform : scale(1.1); /* Chrome - Safari */
  -o-transform : scale(1.1); /* Opera */
  -ms-transform : scale(1.1); /* IE9 */
  z-index: 99999;
}
.descripcion {
  font-size: 1.1em;
}
.bg-menu {
  background: transparent;
  margin: 0;
  padding-left: 0;
  padding-bottom: 5px;
}
.azul-cesvi-bg a {
  background: #7499de;
  background-image: -webkit-linear-gradient(top, #7499de, #002f87);
  background-image: -moz-linear-gradient(top, #7499de, #002f87);
  background-image: -ms-linear-gradient(top, #7499de, #002f87);
  background-image: -o-linear-gradient(top, #7499de, #002f87);
  background-image: linear-gradient(to bottom, #7499de, #002f87);
  border-radius: .5em;
  text-decoration: none;
  color: #fff;
  padding: 5px 22px 5px;
  text-transform: uppercase;
  font-size: .8em;

}
.azul-cesvi-bg a:hover {
  border-radius: .5em;
  background: #F1CE1D;
  background-image: -webkit-linear-gradient(top, #F1CE1D, #63530e);
  background-image: -moz-linear-gradient(top, #F1CE1D, #63530e);
  background-image: -ms-linear-gradient(top, #F1CE1D, #63530e);
  background-image: -o-linear-gradient(top, #F1CE1D, #63530e);
  background-image: linear-gradient(to bottom, #F1CE1D, #63530e);
  text-decoration: none;
  color: #fff;
  padding: 5px 22px 5px;
}
.gris555txt{
  color: #555;
}
.bgf6cf2c {
  background: #f6cf2c;
}
.imgLogoSVG {
   width: 190px !important;
   margin: 25px !important;
}
.sloganH2 {
  margin-top:30px;
}
.sloganH2Smart {
  margin-top:-15px;
  
}
.sloganSpan333 {
  color:#333;
  font-size:0.8em;
}
.sloganSpan111 {
  color:#111;
  font-weight:bolder;
}
.mt8px {
  margin-top:8px;
}
.c002F86 {
  color:#002F86;
}
.fszfwbolder {
  font-size:1.3em;
  font-weight:bolder;
}
.borderNone {
  border: none;
}
.fs1Dot20em {
  font-size: 1.2em;
}
.fsDot85em {
  font-size: .85em;
}
.fsDot80em {
  font-size:.80em;
}
.fs1mCFFF100 {
  font-size:1em; color: #FFF100;
}
.bgFCDA00c002F86 {
  background:#FCDA00; color:#002F86;
}
.m0 {
  margin: 0;
}
.lsNone {
  list-style: none;
}
.hr {
  margin: 0 !important;
  padding: 0 !important;
  padding-bottom: 15px !important;
  height: 10px !important;
}
.dib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.icondim {
  width:50px;
  height:50px;
}
.no-rojo-no-subrayar:hover{
  text-decoration: none;
  color: inherit;
}
.submenu{
  font-size: 1.3em;
  margin:10px;
}   
.submenu:hover{
  text-decoration: none;
  color: #01226f;
  border-bottom-color: 01226f;
  border-bottom-style:solid;
  border-bottom-width: 1px;
}
.submain{
  border-bottom-color: 01226f;
  border-bottom-style:solid;
  border-bottom-width: 2px;
  font-weight: 400;
}
.mision{
  background: url('../images/vision.jpg') !important;
  color: #FFFFFF;
  padding: 1% 10% 5% 10%;
  text-shadow: 2px 2px 2px #000000;
  font-size: 1.1em;
}
.bold {
  font-weight: bolder;
}
.formLogin {
  margin-top: .9rem;
}
.btnLogin {
  margin-top: .3rem;
  width: 52%!important;
}
/*
.topShadowInset {
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    inset 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         inset 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
}
.BottomShadowInset {
    -webkit-box-shadow: inset 0px -2px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    inset 0px -2px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         inset 0px -2px 5px 0px rgba(50, 50, 50, 0.5);
}
*/
.carruselCajaParent {
  background-color: lightgray;
}
.carruselCaja{
  padding: .5em;
}
.oswald {
	font-family: 'Oswald', sans-serif;
	margin, padding: 0;
}
.oswald300 {
	font-weight: 300;
}
.oswald400 {
	font-weight: 400;
}
.oswald700 {
	font-weight: 700;
}
.bg-partners{
	background: #E8ECEB;
}
.max-height {
  margin: 0 auto;
	max-height: 90px;
}
.max-heightSmart {
  margin: 0 auto;
  max-height: 25px;
}
.bg-footer {
	background: #002F86;
}
.white{
	color: #fff !important;
}
.services-index{
	color: #002F86;
	font-weight:bold !important;
}
.information-img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 50%;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -20px;
  margin-right: -20px;
}
.information-text-head{
  font-size: 16px;
}
.box-information-top {
  background-color: #B7C1C2;
  padding: 10px 0px 10px 20px;
  color: #FFFFFF;
}
.box-information {
  background-color: #002F86;
  padding: 10px 0px 10px 0px;
  color: #FFFFFF;
}
.box-rounded-blue {
  background-color: #002F86;
  padding: 10px 0px 10px 20px;
  border-radius:5px;
  color: #FFFFFF;
}
.textoazul{
  color: #002F86;
}
.faltante {
  color: #FF0000;
  font-style: italic;
  font-weight: bolder;
}
.module {
  width: 33%;
  height: 33%;
  background: #fff;
  position: relative;
  border: 1px solid #fff;  
  margin:1px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.module:after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  background: #fff;
  z-index: -1;
}
.module1 {
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
  border: 8px solid #FFFFA3;  
  margin:1px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.divisorBlanco {
  border-left: 3px solid #fbe791;
}
.divisorBlancoRight {
  border-left: 3px solid #fbe791;
  border-right: 3px solid #fbe791;
}

/* otro css */

.textoMenuSuperior {
  color: #555;
}
.fondoMenuSuperior{
  background: #f6cf2c;
}
.logotipoCesvi {
  margin:25px;
  width: 190px;
}
.h2SpanSlogan {
  font-size:0.8em;
  color:#333;
}
.h2SpanSlogan2 {
  font-weight:bolder;
  color:#111;
}
.marginTop{
  margin-top:30px;
}
.imagenRevistaCesvi{
  margin-top: 8px;
}
.h5RevistaCesvi {
  font-size: .8em;
}
.spanRevistaCesvi {
  color: #002F86;
}
.spanMesRevistaCesvi {
  font-size:1.3em;
  font-weight:bolder;
}
.descargaRevistaCesvi {
  color: #002F86;
}
section div div div ul li a {
  color: #555 !important;
}
.borderNone {
  border: none;
}
.imagenCarousel1 {
  background-image: url(../images/bg1.jpg);
  background-size: cover;
}
.imagenCarousel2 {
  background-image: url(../images/bg2.jpg);
  background-size: cover;
}
.imagenCarousel3 {
  background-image: url(../images/bg3.jpg);
  background-size: cover;
}
.imagenCarousel4 {
  background-image: url(../images/bg4.jpg);
  background-size: cover;
}
.h1Carousel {
  text-shadow: 2px 2px 2px #000000;
}
.pCarousel {
  text-shadow: 2px 2px 2px #000000;
}
.imgHotspots {
  border-top:solid 5px #FCDA00;
}
.h2ImgHotspots {
  width: 245px; 
}
.fontWeightBolder{
  font-weight: bolder;
}
.imgHotspotsBorderTop{
  border-top:solid 5px #FCDA00;
}
.btnEntrar {
  background:#FCDA00;
  color:#002F86;
}
.w100Percent {
  width: 100%;
}
.height0{
  height:0;
}
.fontWeightBolder{
  font-weight: bolder;
}
.pHotspots {
  font-weight:bolder;
  font-size:.9em;
}
.mL-30 {
  margin-left: -30px;
}
.aOrange {
  color: orange!important;
}
.listStyleNone {
  list-style: none;
}
.textAlignLeft{
  text-align:left;
}
.spanSidebarHead {
  font-size:1em;
  color: #FFF100;
}
.fontSizeDot85em{
  font-size: .85em;
}
.h4Orange {
  color: orange;
}
.border1px{
  border: 1px;
}
.labelInput{
  width:105px;
  text-align:left;
}
.youtubeCesviTV{
  background:red;
  color:white;
}
.divSitiosInteres {
  background:#002F86;
  padding: 10px;
}
.aSitiosInteres {
  color:white;
  margin:10px;
}
.divSiguenos {
  background:#002F86;
  padding: 10px;
}
.h4Siguenos {
  color:white;
  margin:10px;
}
.h4Siguenos:hover{
  color: white;
  text-decoration: none;
}
.w50px{
  width: 50px;
}
.yellow{
  color: yellow;
}
.white :hover{
  color: white;
}
.pFooterSmartAddress {
  font-size: .85em;
}
.pFooterSmart {
  font-size: .8em;
}
.pCopyright{
  margin-top:10px;
}
.pCopyrightSmart{
  margin-top:15px;
}
.textDecorationNone{
  text-decoration: none;
}
.copyrightSmart {
  font-size: .8em;
}
.copyright {
  color: #002F86!important;
}
.copyright:hover {
  color: #011842!important;
}

a {
  /* antes #F1CE1D */
  color: orange;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
  text-decoration:none;
}

a:hover, a:focus {
  color: #d43133;
}

.fontSize1-5em {
	font-size: 1.5em;
}
.fontSize2em {
	font-size: 2em;
}
.fontSize2-5em {
	font-size: 2.5em;
}
.fontSize3em {
	font-size: 3em;
}
.fontSize3-5em {
	font-size: 3.5em;
}
.fontSize4em {
	font-size: 4em;
}
.fontSize4-5em {
	font-size: 4.5em;
}
.fontSize5em {
	font-size: 5em;
}
.fontSize5-5em {
	font-size: 5.5em;
}
.fontSize6em {
	font-size: 6em;
}




/* ------------------------ */
#feature {
  background: #f2f2f2;
  padding-bottom: 40px;
}

.features{
  padding: 0;
}

.feature-wrap {
  margin-bottom: 35px;
  overflow: hidden;
}

.feature-wrap h2{
  margin-top: 10px;
}

.feature-wrap .pull-left {
  margin-right: 25px;
}

.feature-wrap i{
  font-size: 48px;
  height: 110px;
  width: 110px;
  margin: 3px;
  border-radius: 100%;
  line-height: 110px;
  text-align:center;
  background: #ffffff;
  color: #F1CE1D;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  margin-right: 25px;
}

.feature-wrap i:hover {
  background: #F1CE1D;
  color: #fff;
  box-shadow: inset 0 0 0 5px #F1CE1D;
  -webkit-box-shadow: inset 0 0 0 5px #F1CE1D;
  border: 3px solid #F1CE1D;
}

#recent-works .col-xs-12.col-sm-4.col-md-3{
  padding: 0;
}

#recent-works{
    padding-bottom: 70px;
}

.recent-work-wrap {
  position: relative;
}

.recent-work-wrap img{
  width: 100%;
}

.recent-work-wrap .recent-work-inner{
  top: 0;
  background: transparent;
  opacity: .8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3{
  margin: 10px 0;
}

.recent-work-wrap .recent-work-inner h3 a{
  font-size: 24px;
  color: #fff;
}

.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  background: #F1CE1D;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;  
  padding: 30px;
}

.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}

.recent-work-wrap:hover .overlay {
  opacity: 1;
}

#services {
  background: #000 url(../images/slider/bg1.jpg) no-repeat center center fixed;
  background-size: cover;
}

#services .lead,
#services h2{
  color: #fff;
}

.services-wrap {
  padding: 40px 30px;
  background: #fff;
  border-radius: 4px;
  margin: 0 0 40px;
}

.services-wrap h3 {
  font-size: 20px;
  margin: 10px 0;
}

.services-wrap .pull-left {
  margin-right: 20px;
}

#middle {
  background: #f2f2f2;
}

.skill h2{
  margin-bottom: 25px;
}

.progress-wrap{
  position: relative;
}

.progress .color1,
.progress .color1 .bar-width{
  background: #2d7da4;
}

.progress .color2,
.progress .color2 .bar-width{
  background: #6aa42f;
}

.progress .color3,
.progress .color3 .bar-width{
  background: #ffcc33;
}

.progress .color4,
.progress .color4 .bar-width{
  background: #db3615;
}

.progress, 
.progress-bar {
  height: 15px;
  line-height: 15px;
  background: #e6e6e6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  text-align: right;
}

.progress{
  position: relative;
}

.progress .bar-width{
  position: absolute;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  top: -30px;
  border-radius: 2px;
  margin-left: -30px;
}

.progress span{
  position: relative;
}

.progress span:before{
  content: " ";
  position: absolute;
  width: auto;
  height: auto;
  border-width: 8px 5px;
  border-style: solid;
  bottom: -15px;
  right: 8px;
}

.progress .color1 span:before{
  border-color: #2d7da4 transparent transparent transparent;
}

.progress .color2 span:before{
  border-color: #6aa42f transparent transparent transparent;
}

.progress .color3 span:before{
  border-color: #ffcc33 transparent transparent transparent;
}

.progress .color4 span:before{
  border-color: #db3615 transparent transparent transparent;
}

.accordion h2{
  margin-bottom: 25px;
}

.panel-default{
  border-color: transparent;
}

.panel-default>.panel-heading,
.panel{
  background-color: #e6e6e6; 
  border:0 none;
  box-shadow:none;
}

.panel-default>.panel-heading+.panel-collapse .panel-body{
  background: #fff;
  color: #858586;
}

.panel-body{
  padding: 20px 20px 10px;
}

.panel-group .panel+.panel{
  margin-top: 0;
  border-top: 1px solid #d9d9d9;
}

.panel-group .panel{
  border-radius: 0;
}

.panel-heading{
  border-radius: 0;
}

.panel-title>a{
  color: #4e4e4e;
}

.accordion-inner img{
  border-radius: 4px;
}

.accordion-inner h4{
  margin-top: 0;
}

.panel-heading.active{
  background: #002F87;

}

.panel-heading.active .panel-title>a{
  color:#fff;
  text-decoration:none;
  
}

a.accordion-toggle  i{
  width: 45px;
  line-height: 44px;
  font-size: 20px;
  margin-top: -10px;
  text-align: center;
  margin-right: -15px;
  background: #c9c9c9;
}

.panel-heading.active a.accordion-toggle i{
  background: #F1CE1D;
  color: #fff;
}

.panel-heading.active a.accordion-toggle.collapsed i{
  background: #F1CE1D;
  color: #fff;
}

.nav-tabs>li{
  margin-bottom: 0px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-tabs{
  border-bottom: transparent;
  border-right: 1px solid #e6e6e6;
}

.nav-tabs>li>a {
  background: #f5f5f5;
  color: #666;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right:0;
  padding: 13px 15px;
}

.nav-tabs li:last-child{
  border-bottom: 0 none;
} 

.nav-stacked>li+li{
  margin-top: 0;
}

.nav-tabs>li>a:hover{
  background: #002F87;
  color:#fff;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
  border: 0;
  color:#fff;
  background: #002F87;
  position: relative;
}

.nav-tabs>li.active>a:after {
  position: absolute;
  content:  "";
  width: auto;
  height: auto;
  border-style:solid;
  border-color: transparent transparent transparent #002F87;
  border-width: 25px 22px;
  right: -44px;
  top:0;
}

.tab-wrap{
  border:1px solid #e6e6e6;
  margin-bottom: 20px;
}

.tab-content{
  padding: 20px;
}

.tab-content h2{
  margin-top: 0;
}

.tab-content img{
  border-radius: 4px;
}

.testimonial h2{
  margin-top: 0;
}

.testimonial-inner {
  color:#858586;
  font-size: 14px;
}

.testimonial-inner .pull-left{
  border-right: 1px solid #e7e7e7;
  padding-right: 15px;
  position: relative;
}

.testimonial-inner .pull-left:after{
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 50%;
  margin-top: -5px;
  background: #FFF;
  -webkit-transform: rotate(45deg);
  border: 1px solid #e7e7e7;
  right: -5px;
  border-left: 0 none;
  border-bottom: 0 none;
}

#partner {
  background: url(../images/partners/partner_bg.png) 50% 50% no-repeat;
  background-size: cover;
}

#partner {
  color: #fff;
  text-align: center;
}

#partner h2, 
#partner h3 {
  color: #fff;
}

.partners ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.partners ul li{
  display: inline-block;
  float: left;
  width: 16.66%;
}

#conatcat-info{
  background: #fff url(../images/contact.png) no-repeat 90% 0;
  padding: 30px 0;
}

.contact-info i{
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  background: #000;
  text-align: center;
  border-radius: 10px;
}

.contact-info h2{
  margin-top: 0;
  color: #000;
}

.contact-info{
  color:#000;
}

/*************************
********* About Us Page CSS ******
**************************/

.about-us {
  margin-top: 110px;
  margin-bottom: -110px;
}

.about-us h2, 
.skill_text h2 {
  color:#4e4e4e;
  font-size: 30px;
  font-weight: 600;
}

.about-us p {
  color:#4e4e4e;
}

#carousel-slider {
  position: relative;
}

#carousel-slider .carousel-indicators {
  bottom: -25px;
}

#carousel-slider .carousel-indicators li {
  border: 1px solid #ffbd20;
}

#carousel-slider a i {
  border: 1px solid #777;
  border-radius:50%;
  font-size: 28px;
  height: 50px;
  padding: 8px;
  position: absolute;
  top: 50%;
  width: 50px;
  color:#777;
}

#carousel-slider a i:hover {
  background:#bfbfbf;
  color:#fff;
  border: 1px solid #bfbfbf;
}

#carousel-slider 
.carousel-control {
  width:inherit;
}

#carousel-slider .carousel-control.left i {
  left:-25px
}

#carousel-slider .carousel-control.right i {
  right: -25px;
}

#carousel-slider
.carousel-control.left, 
#carousel-slider
.carousel-control.right {
  background: none;
}
.media_image {
  margin-bottom: 10px;
}
ul.social_icons,
ul.tag {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: block;
}

ul.social_icons li,
ul.tag li {
  display: inline-block;
  margin-right: 5px;
}

ul.social_icons li  a i{
  border-radius: 50%;
  color: #FFFFFF;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 0;
  text-align: center;
  width: 25px;
  opacity:.8;
}

/***********************
****Service page css****
***********************/

.services {
  padding: 0;
}

.get-started {
  background: none repeat scroll 0 0 #F3F3F3;
  border-radius: 3px;
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 18px;
  margin-top: 60px;
}

.get-started h2 {
  padding-top: 30px;
  margin-bottom: 20px;
}

.request {
  bottom: -15px;
  left: 50%;
  position: absolute;
  margin-left: -110px;
}

.request h4 {
  position: absolute;
  width: 220px;
  position:relative;
}

.request h4 a{
  background:#F1CE1D;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  border-radius: 3px;
  padding: 5px 15px;
}

.request h4:after {
  border-color: #F1CE1D transparent transparent;
  border-style: solid;
  border-width: 12px;
  bottom: -18px;
  content: "";
  height: 0;
  position: absolute;
  right: 13px;
  z-index: -99999;
}

.request h4:before {
  border-color: #F1CE1D transparent transparent;
  border-style: solid;
  border-width: 12px;
  bottom: -18px;
  content: "";
  height: 0;
  left: 13px;
  position: absolute;
  z-index: -99999;
}

.clients-area {
  padding: 60px;
}

.clients-comments {
    background-image: url("../images/image_bg.png");
    background-position: center 118px;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.clients-comments img {
  background:#DDDDDD;
  border: 1px solid #DDDDDD;
  height: 182px;
  padding: 3px;
  width: 182px;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.clients-comments h3 {
  margin-top: 55px;
  font-weight: 300;
  padding: 0 40px;
}

.clients-comments h4 {
  font-weight: 300;
  margin-top: 15px;
}


.clients-comments  h4  span {
  font-weight: 700;
  font-style: oblique;
}

.footer {
  background: none repeat scroll 0 0 #2E2E2E;
  border-top: 5px solid #F1CE1D;
  height: 84px;
  margin-top: 110px;
}

.footer_left {
  padding: 10px;
}

.text-left {
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 15px;
}

/*************************
********* Portfolio CSS ******
**************************/

#portfolio_page {
  margin-top: 115px;
  padding-bottom: 0;
}

.portfolio-items, 
.portfolio-filter {
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}

.portfolio-filter > li {
  display: inline-block;
}

.portfolio-filter > li a {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid #F2F2F2;
  outline: none;
  border-radius: 3px;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
  color:#fff;
  background: #F1CE1D;
  border: 1px solid #F1CE1D;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
  margin: 0;
  padding:0;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/*************************
********* Contact Us CSS ******
**************************/

.gmap-area {
  background-image: url("../images/map.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
}

.gmap-area .gmap iframe {
  border-radius: 50%;
  height: 280px;
  width: 300px;
}

.gmap{
    border: 10px solid #f6f5f0;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.gmap-area .map-content ul {
  list-style: none; 
}

.gmap-area .map-content address h5{
  font-weight: 700;
  /* font-size: 16px; */
}

#contact-page{
  padding-top: 0;
}

#contact-page .contact-form 
.form-group label {
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 300;
}

.form-group .form-control {
  padding: 7px 12px;
  border-color:#f2f2f2;
  box-shadow: none;
}

textarea#message{
  resize: none;
  padding: 10px;
}

#contact-page .contact-wrap {
  margin-top: 20px;
}

/*********************
****blog page css*****
**********************/

.widget {
  margin-bottom: 60px;
  padding-left: 0;
}

.single_comments {
  margin-bottom: 20px;
}

.single_comments img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.single_comments p {
  margin-bottom: 0;
}

.widget .entry-meta span {
  display: inline-block;
  margin-right: 10px;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog_category{
  list-style:none;
  margin:0;
  padding:0;
}

.blog_category li{
  float:none;
  margin-bottom:20px;
}

.blog_category li a {
  background:#f5f5f5;
  border-radius: 4px;
  color: #888;
  display: inline-block;
  padding: 5px 15px;
}

.blog_category li a:hover{
  background:#F1CE1D;
  color: #fff;
}

 .badge:before {
  border-color: transparent transparent transparent #F1CE1D;
  border-style: solid;
  border-width: 10px;
  bottom: -8px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  z-index: -99999;
}

.badge {
  background-color: #F1CE1D;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  position: relative;
  left: 60px;
  top: -18px;
  font-weight: normal;
}

.blog_archieve {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.blog_archieve li {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}

.blog_archieve li:first-child {
  padding-top: 0;
}

ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
}

ul.faq {
  list-style: none;
  margin: 0;
}

ul.faq li {
  margin-top: 30px;
}

ul.faq li:first-child {
  margin-top: 0;
}

ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #34495e;
  color: #fff;
  font-size: 24px;
}

ul.faq li > div {
  margin-left: 70px;
}

ul.faq li > div h3 {
  margin-top: 0;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-item {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 50px;
}

.blog .blog-item .img-blog {
  border-radius: 5px;
  margin-bottom: 45px;
}

.blog .blog-item .blog-content {
  padding-bottom: 25px;
}

.blog .blog-item .blog-content h2 {
  margin-top: 0;
  font-size: 30px;
}

.readmore{
  margin-top: 0;
}

.blog .blog-item .blog-content h3 {
  color: #858586;
  margin-bottom: 40px;
  /* font-weight: 300 */}

.blog .blog-item .blog-content h4 {
  font-size: 14px;
}

.post-tags {

}

.blog .blog-item .entry-meta {
  border-radius: 5px;
  overflow: hidden;
}

.blog .blog-item .entry-meta > span {
  background: #f5f5f5;
  border-top: 1px solid #fff;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 5px;
  text-align: left;
}

#publish_date {
  background: #F1CE1D;
  border-bottom: 5px solid #4e4e4e;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}

.blog .blog-item .entry-meta > span {
  color: #ccc;
}

.blog .blog-item .entry-meta > span a {
  font-size: 12px;
  margin-left: 3px;
  font-weight: 300;
  color: #888;
}

ul.pagination > li > a {
  border: 1px solid #F1F1F1;
  margin-right:5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
}

ul.pagination > li > a i{
  margin-left:5px;
  margin-right:5px;
}

ul.pagination > li.active > a, 
ul.pagination > li:hover > a {
  background-color: #F1CE1D !important;
  border-color: #F1CE1D !important;
  color: #fff;
}

.search_box {
  background-image: url("../images/search_icon.png");
  background-position: 314px 15px;
  background-repeat: no-repeat;
  border-color: #DEDEDE;
  height: 48px;
  outline: medium none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow:none;
  outline: 0 none;
}


ul.tag-cloud, 
ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-cloud li{
    display: inline-block;
    margin-bottom: 3px;
}

.tag-cloud li a {
  background: #f5f5f5;
  color: #888;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
}

.tag-cloud li a:hover{
  background:#F1CE1D;
  color: #fff;  
}

.sidebar-gallery li{
  display: inline-block;
  margin: 0 10px 10px 0;
}

.sidebar-gallery li a {
  border-radius: 4px;
  display: inline-block;
}

/******************
shortcodes page css
******************/

.shortcode-item {
  padding-bottom: 0;
}

.shortcode-item h2 {
  color: #4E4E4E;
  font-size: 24px;
  margin-bottom: 22px;
  margin-top: 0;
  font-weight: 600
}

/******************
***Media Queries***
******************/

/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .carousel {
    height: 400px;
    margin-bottom: 60px;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 400px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 400px;
  }
  .media{
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
  .media-left{
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
  .media-object{
    margin-bottom: 1em;
  }
  .media-body{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 100%;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {...}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) { ... }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }