@import 'bootstrap.min.css';
/* @import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css); */
@import 'font-awesome.min.css';
/* @import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css); */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);
@import 'animate.min.css';
@import 'prettyPhoto.css';
@import 'main.css';
@import 'responsive.css';

html {
	font-size: 16px !important;
}
body {
	font-size: 1rem;
}
.amarillo-cesvi {
  color: #F1CE1D !important;
}
.amarillo-cesvi-bg {
  background: #F1CE1D !important;
}
.azul-cesvi {
  color: #002F87 !important;
}
.azul-cesvi-bg {
  background: #002F87 !important;
}
.oswald {
	font-family: 'Oswald', sans-serif;
}
.oswald300 {
	font-weight: 300;
}
.oswald400 {
	font-weight: 400;
}
.oswald700 {
	font-weight: 700;
}
.outline-slides {
    text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}