@import 'bootstrap.css';
@import 'carousel.css';
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
html {
	font-size: 16px !important;
}
body {
	font-size: 1rem;
}
.oswald {
	font-family: 'Oswald', sans-serif;
}
.oswald300 {
	font-weight: 300;
}
.oswald400 {
	font-weight: 400;
}
.oswald700 {
	font-weight: 700;
}
.bg-partners{
	background: #E8ECEB;
}
.max-height {
	max-height: 90px;
}
.bg-footer {
	background: #00529B;
}
.white{
	color: #fff !important;
}